<div id="<%= user._id%>" class="page-container">
    <div  class="contact-container">
        <img src="<%= user.photo %>" alt="<%= name %>" />
        <h1><%=user.name.first%> <%=user.name.last%></h1>
        <div><%=user.dateOfBirth%></div>
        <dl>
            <dt>Age:</dt><dd><%= user.age %></dd>
            <dt>Email:</dt><dd><a href="mailTo:<%= user.email %>"><%= user.email %></a></dd>
        </dl>
        <div class="clear"></div>
        <button type="submit" class=" add-friend btn btn-primary" data-loading-text="Send...">Add to friends</button>
    </div>
    <div id="userPosts"></div>
</div>