<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Vrakashy</a>
		</div>
		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<% if(user){%>
				<li><a href="/#users">Users</a></li>
				<li><a href="/#posts">Posts</a></li>
				<li><a href="/#chat">Chat</a></li>
				<%}%>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if(user){%>
					<li class="logout login"><a href="">Exit</a></li>
				<% }else{ %>
					<li class="login"><a href="/#registration">Sing Up</a></li>
					<li class="login"><a href="/#login">Sing In</a></li>
				<%}%>
			</ul>
		</div>
	</div>
	<% if(user){%>
		<h4 class="navbar-text">Hello, <%= user.name.first %> <%= user.name.last %> </h4>
	<% } %>
</div>
<div class="container">
	<div class="content" >
		<% if(user){%>
		<div class="menu_left">
			<ul>
				<li><a id="my-page">My page</a></li>
				<li><a href="#">My Messages</a></li>
				<li><a href="#">My photo</a></li>
			</ul>
		</div>
		<% } %>
		<div id="content_center">

			<div id="contentHolder">
				<h2>Welcome to Backbone Cellar</h2>
				<p>This is a sample application designed to teach people with the basic knowledge of Backbone.js how to use it in a real application.</p>
			</div>

		</div>
		<div class="clear"></div>
	</div>
</div>


