<div class="content_center1">
    <div id="error"></div>
    <form class="form-horizontal login-form" name="login-form" id="login-form">

        <div class="main-form-group">
            <div class="form-group">
                <label for="input-username" class="control-label">Name</label>
                <input name="username"  type="text" class="form-control" id="input-username" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="input-password" class="control-label">Password</label>
                <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Pass">
            </div>

            <div class="form-group">
                <button id="login-button" type="submit" class="btn btn-primary" data-loading-text="Send...">Enter</button>
            </div>
        </div>

    </form>

</div>