<div class="main-form-group">

    <h1 class="lead">Welcome!</h1>
    <div class="form-group">
            <textarea  id="message" cols="50" rows="5"></textarea>
            <button id="post-button" type="submit" class="btn btn-primary" data-loading-text="Send...">send</button>
        <ul id="messages"></ul>
    </div>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <th>creator</th>
    <th>Name</th>
    <th>id</th>
    </thead>

    <% posts.forEach(function(post){ %>
    <tr>
        <td><%=post._creator%></td>
        <td><%=post.name%></td>
        <td><%=post._id%></td>
    </tr>
    <%})%>
</table>




